{% extends "layout.html" %}

{% block title %}
About
{% endblock %}

{% block content %}
<div id="border" class="container-fluid bg-ash p-0">
    <div id="body">
        <div class="row" id="row" >
            <div class="col" id="first" >
                <img id="img1" src="../static/image/img6.jpeg" alt="">
            </div>

            <div class="col" id="second">
                <h1 id="h1" class="mb-4">Find the Perfect Job for You</h1>
                    <p id="p" class="mb-4">It is finally time for international students to have easy access to the application pages of jobs of their desired companies that sponsor work visa. Non-Immigrant Residents no longer need to arbitrarily click any job link in search of jobs only to figure out thet the jobs they find are not for them.
                    </p> <br>
                    <p id="p"><i class="fa fa-check text-primary me-3"></i>Use Work Connect and be sure that any job of your choice gotten from this website has work sponsorship and is for you</p>
                    <p id="p"><i class="fa fa-check text-primary me-3"></i>Use Work Connect and confirm that finding one job that is certainly for you is a hundred times better that finding hundred jobs that may not be for you.</p>
                    <p id="p"><i class="fa fa-check text-primary me-3"></i>Use Work Connect and be certain that you can have access to the jobs of different companies based on the different types of jobs</p>
            </div>
        </div>
        <div class="row" id="row">
            <div class="col" id="second">
                <h1 id="h1" class="mb-4">Enjoy a Stress-free Job Search</h1>
                    <p id="p" class="mb-4">Being international students in the US, finding jobs in companies that are willing to sponsor our work visas after graduation is a major problem that we all face together. We are required by law to go back to their home countries upon completion of their college education or find a company willing to sponsor them for a change-of-status which itself is a lengthy process and costly. Work Connect helps us:
                    </p>
                    <p id="p"><i class="fa fa-check text-primary me-3"></i>1. Work Connect makes it easier for students who fall in this category to find companies in the United States that would be usually willing to take them up for sponsorship.</p>
                    <p id="p"><i class="fa fa-check text-primary me-3"></i>2. Users will be able to type in what type of company they would like to work with, and get results with information about companies that have job roles in the field based on their input.</p>
            </div>

            <div class="col" id="first" >
                <img id="img1" src="../static/image/img7.jpeg" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock %}