{% extends "layout.html" %}

{% block title %}
Work Connect - Sponsored Jobs for International Students in Different Types of Companies
{% endblock %}

{% block content %}

        <!-- Carousel Start -->
        <div class="container-fluid p-0">
            <div class="owl-carousel header-carousel position-relative">
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="../static/image/imm.jpeg" alt="">
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(8, 16, 22, 0.5);">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-10 col-lg-8">
                                    <h1 class="display-3 text-white animated slideInDown mb-4"> Find the job of your choice.</h1>
                                    <p class="fs-5 fw-medium text-white mb-4 pb-2">It is finally time for international students to have easy access to the application pages of jobs of their desired companies that sponsor work visa.</p>
                                    <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Search A Job</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- Carousel End -->


        <!-- Search Start -->
        <form action = "/home" method="POST">
        <div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
            <div class="container">
                <div class="row g-2">
                    <!-- Scope List Start -->
                    <div class="dropdown">
                        <button class="dropbtn">See Search Keywords</button>
                        <div class="dropdown-content">
                            <a href="#">Corporate</a>
                            <a href="#">Analytics</a>
                            <a href="#">Consulting</a>
                            <a href="#">Design</a>
                            <a href="#">Operations</a>
                            <a href="#">Engineering</a>
                            <a href="#">Healthcare</a>
                            <a href="#">Marketing</a>
                            <a href="#">Business</a>
                            <a href="#">Tech</a>
                            <a href="#">Legal</a>
                            <a href="#">Technology</a>
                            <a href="#">Communication</a>
                            <a href="#">Communications</a>
                            <a href="#">Datascience</a>
                            <a href="#">Robotics</a>
                            <a href="#">Hardware</a>
                            <a href="#">Sales</a>
                            <a href="#">Finance</a>
                        </div>
                    </div>
                    <!-- Scope List End -->
                    <div class="col-md-10">
                        <div class="row g-2">
                            <div class="col-md-4">
                                <input type="text" class="form-control border-0" placeholder="Job Scope" name="scope" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-dark border-0 w-100">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
        <!-- Search End -->


        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="row g-0 about-bg rounded overflow-hidden">
                            <div class="col-6 text-start">
                                <img class="img-fluid w-100" src="../static/image/imm2.jpeg">
                                <img class="img-fluid w-100" src="../static/image/imm3.jpeg">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid w-100" src="../static/image/imm4.jpeg">
                                <img class="img-fluid w-100" src="../static/image/imm5.jpeg">
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <h1 class="mb-4">Enjoy a Stress-free Job Search</h1>
                        <p class="mb-4">Being international students in the US, finding jobs in companies that are willing to sponsor our work visas after graduation is a major problem that we all face together. We are required by law to go back to their home countries upon completion of their college education or find a company willing to sponsor them for a change-of-status which itself is a lengthy process and costly. Work Connect helps us:
                        </p>
                        <p><i class="fa fa-check text-primary me-3"></i>Work Connect makes it easier for students who fall in this category to find companies in the United States that would be usually willing to take them up for sponsorship.</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Users will be able to type in what type of company they would like to work with, and get results with information about companies that have job roles in the field based on their input.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
{% endblock %}
