#border {
    background-color: cornsilk;
}

#body {
    background-color: rgb(196, 210, 223);
}

#first {
    border-color: aqua;
}

#h1 {
    font-size: 50px;
}

#p {
    font-size: 18px;
}

#h2 {
    color: blueviolet;
    font-size: 60px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font
}

#img1 {
    width: 75%;
    height: 100%;
    
}

#row {
    margin-bottom: 100px;
}

#word {
    margin-bottom: 30px;
}

#home {
    color: rgb(3, 83, 3);
    margin-right: 50px;
    
}
